* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    width: 250px;
    height: auto;
    margin: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    overflow: hidden;
    border-radius: 6px;
    background-color: lightgray;
}

.grid-elements {
    border: solid 1px rgb(109, 107, 120);
}

#total {
    grid-area: 1 / 1 / 1 / 5;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(61, 66, 63);
    color: white;
    padding: 8px;
    font-size: larger;
    font-weight: bold;
}

.body-calculator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.operations {
    background-color: rgb(170, 170, 170);
}
#uguale {
    grid-area: 3 / 4 / 7 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 102, 102);
}